@charset "utf-8";

/* CSS Document */
body,html {
	//background:url(../images/fon.png) no-repeat;
	//background-size: cover;
	//background: #e3e5e5;
	//overflow: hidden;
	//height: 7420px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight:400;
}

#fullpage{
	background:url(../images/fon.png) no-repeat;
	background-size: cover;
	}

button{
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 10px 45px;
	background: none;
	color: #ffffff !important;
	font-size: 18px;
	}
	
.button.blue{
	border: 1px solid #387bba;
	border-radius: 5px;
	padding: 10px 45px;
	background: none;
	color: #387bba !important;
	font-size: 18px;
	margin: 40px 0 0 0;
	display: inline-block;
	position: relative;
	z-index: 100;
	}
	
ul.line{
	list-style: none;
}
ul.line li:before {
	content: "\2015 ";
	padding-right: 5px;
}

nav.next-prev {
	margin: 20px 0 0 0;
	}
	a.prev,
	a.next {
		display: block;
		width: 31px;
		height: 30px;
		text-indent: -9999px;
		}
	a.prev {
		margin: 0 auto 5px auto;
		background: rgba(56,123,158, 0.2) url('../images/scroll-arrow-up.png') center center no-repeat;
		}
		a.prev:hover {
			background: rgba(56,123,158, 0.2) url('../images/scroll-arrow-up.png') center center no-repeat;
			}
	a.next {
		margin: 5px auto 0 auto;
		background: rgba(56,123,158, 0.2) url('../images/scroll-arrow-down.png') center center no-repeat;
		}
		a.next:hover {
			background: rgba(56,123,158, 0.2) url('../images/scroll-arrow-down.png') center center no-repeat;
			}

#section0 {
	width: 100%;
	background: url(../images/first-slide.png) no-repeat top center;
	background-size:cover;
	text-align:center;
	position: relative;
	z-index: 100;
	}
	#section0 h1 {
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		}
		
	#logo{
		padding:15% 0 35% 0;
		}
		
	.social-icon{
		width:auto;
		background: rgba(48,20,11,0.15);
		margin:auto;
		list-style:none;
		display:inline-block;
		padding: 10px 5px;
		}
	.social-icon.bottom-icon{
		background: none;
		}
		
	.social-icon li{
		display: inline-block;
		margin: 0 5px;
		}
		
	#section0 button{
		margin-top: 15%;
		}
		
article {
	//width: 60%;
	//z-index:10;
	}
		
article p{
	color: #666;
	font-weight: 300;
	font-size: 16px;
	}
		
article p strong{
	color: #000;
	font-weight: 400;
	}
	
.container{
	position:relative;
	}

.container img{
	position:relative;
}

.display-table{
	display:table;
	}
	
.display-table-cell{
	display: table-cell;
	float:none !important;
}
	
#bg1 {
	//position: absolute;
	//top:150px;
	left: -15%;
	opacity: 0;
	//float:left;
	}
#bg2 {
	//position: absolute;
	//top: 350px;
	//margin-top: -30%;
	right: -15%;
	opacity: 0;
	}
	
#section4{
	overflow:hidden;
	}
	
#section2 .fp-tableCell,
#section4 .fp-tableCell,
#section5 .fp-tableCell{
	vertical-align: top;
	overflow: hidden;
	}
	
#name-2,
#name-4,
#name-5{
	margin: 3% 0;
	}

#bg3-1 {
	position: absolute;
	//top: 1150px !important;
	left:-30px;
	top:10% !important;
	z-index: 2;
	}
	
#bg3-2 {
	position: absolute;
	//top: 1000px !important;
	left: 15%;
	top:0 !important;
	z-index:1;
	}

#cloud-bg-3{
	position: absolute;
	//top: 1750px;
	left:-30px;
	margin-top: 50%;
	z-index: 3;
	}
		
#bg4 {
	position: absolute;
	//top: 2100px;
	right:-30px;
	}
	
#cloud-bg-4{
	position: absolute;
	//top: 2550px;
	//right:0;
	margin-top: 40%;
	z-index: 2;
	}
				
#bg5-1 {
	position: absolute;
	//top: 2900px !important;
	left:-30px;
	top: 0 !important;
	}
	
#bg5-2 {
	position: absolute;
	//top: 3400px !important;
	left: 10%;
	z-index: 2;
	top:0 !important;
	margin-top: 40% !important;
	}

#cloud-bg-5{
	position: absolute;
	//top: 3400px;
	left: 0%;
	margin-top: 45%;
	z-index: 3;
	}
		
#bg6 {
	position: absolute;
	//top: 3850px;
	right: -30px;
	margin-top: -10%;
	}
	
#cloud-bg-6{
	position: absolute;
	//top: 4650px;
	right:-30px;
	z-index: 2;
	margin-top: 60%;
	}
	
#seventh-slide{
	//position: absolute;
	//top: 4900px;
	//left:0;
	width: 100% !important;
	padding: 0 50px; 
	//z-index:10;
	}
	
.owl-controls.clickable{
			display: none !important;
		}
		
		.btn.prev{
			position:absolute;
			left: 0;
			top: 50%;
			background: transparent url(../images/casual-arrow.png);
			width: 30px;
			height: 56px;
			}
			
		.btn.prev:hover{
			opacity: 0.5;
			background: transparent url(../images/casual-arrow.png);
			}
			
		.btn.next{
			position:absolute;
			right: 0;
			top: 50%;
			background: transparent url(../images/casual-arrow.png);
			width: 30px;
			height: 56px;
			transform: rotate(180deg);
			}
			
		.btn.next:hover{
			opacity: 0.5;
			background: transparent url(../images/casual-arrow.png);
			transform: rotate(180deg);
			}
			
		.owl-item img.img-responsive{
			width: 100% !important;
			}
			
		.owl-item .item{
			margin: 0px 20px; 
			position:relative;
			}
			
		.owl-item .item:hover .about{
			display:block;
			}
			
		.about{
			width: 100%;
			height: 100%;
			background: rgba(255,255,255, 0.75);
			position:absolute;
			top:0;
			padding: 35px 10px;
			display: none;
			}
			
		.about p{
			margin-top: 20px;
		}
		
		.green-bg{
			background:url(../images/green-bg.png) no-repeat;
			width: 100%;
			background-size:cover;
			padding: 50px 0;
			text-align: center;
			//position:absolute;
			//top: 5800px;
			z-index:10;
		}
		
		.white-bg{
			background:#ffffff;
			width: 100%;
			background-size:cover;
			padding: 25px 0;
			text-align: center;
			//position:absolute;
			//top: 6045px;
			z-index:10;
		}
		
		.white-bg img.div-center{
			margin: 25px auto 50px auto;
			}