@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xzccat');
  src:  url('fonts/icomoon.eot?xzccat#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xzccat') format('truetype'),
    url('fonts/icomoon.woff?xzccat') format('woff'),
    url('fonts/icomoon.svg?xzccat#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-quote:before {
  content: "\e900";
}
.icon-left-quote:before {
  content: "\e901";
}
.icon-three-bars:before {
  content: "\f05e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-quote-right:before {
  content: "\f10e";
}

