@charset "utf-8";

/* CSS Document */
#fullpage{
	background:url(../images/fon.jpg) no-repeat;
	background-size: cover;
	}
	
.margin-munis{
	margin-top: -5%;
}

#bg1 {
	left: -15%;
	}
	
#bg2 {
	right: -15%;
	}
	
#section4{
	overflow:hidden;
	}
	
.fp-tableCell{
	position:relative;
	}
	
#section2 .fp-tableCell,
#section4 .fp-tableCell,
#section5 .fp-tableCell{
	overflow: hidden;
	}
	
#section7 .fp-tableCell{
	vertical-align:top;
	background: #ffffff;
	}
	
#name-1,
#name-2,
#name-3,
#name-4,
#name-5,
#name-6,
#name-8{
	position:absolute;
	top:3%;
	left: 15%;
	z-index: 100;
	}
    
#bg3-1 {
	position: absolute;
	left:-30px;
	top: auto !important;
	bottom: 0 !important;
	z-index: 2;
	}
	
#bg3-2 {
	position: absolute;
	left: 15%;
	top:auto !important;
	bottom: 25% !important;
	}

#cloud-bg-3{
	position: absolute;
	left: -30px;
	bottom:-15%;
	z-index: 3;
	}
		
#bg4 {
	position: absolute;
	right:-30px;
	bottom: 10%;
	}
	
#cloud-bg-4{
	position: absolute;
	right:0;
	bottom: -25%;
	z-index: 2;
	}
				
#bg5-1 {
	position: absolute;
	left:-30px;
	top: auto !important;
	bottom: -5%;
	}
	
#bg5-2 {
	position: absolute;
	left: 10%;
	z-index: 2;
	top:auto !important;
	bottom: 0% !important;
	}

#cloud-bg-5{
	position: absolute;
	left: 0%;
	bottom:-15%;
	z-index: 3;
	}
		
#bg6 {
	position: absolute;
	right: -30px;
	bottom:0;
	}
	
#cloud-bg-6{
	position: absolute;
	right:-30px;
	z-index: 2;
	bottom: -10%;
	}
	
#seventh-slide{
	width: 100% !important;
	padding: 0 30px; 
	}
	
#seventh-slide h2{
    padding-bottom: 25px;
}

#eighth-slide{
    
}    

#cloud-1{
	position:absolute;
	top: 10%;
	left: 0px;
	}
	
#cloud-2{
	position:absolute;
	top: 25%;
	right: 0%;
	}

#cloud-3{
	position:absolute;
	top: 15%;
	right: 5%;
	}
	
#cloud-4{
	position:absolute;
	top: 15%;
	right: 0%;
	}
	
#cloud-5{
	position:absolute;
	top: 10%;
	right: 0%;
	}
	
#cloud-6{
	position:absolute;
	top: 40%;
	right: 35%;
	}
	
#cloud-7{
	position:absolute;
	top: 10%;
	left: 0%;
	}
	
#cloud-8{
	position:absolute;
	top: 10%;
	left: 25%;
	}
	
#cloud-9{
	position:absolute;
	top: 25%;
	left: 0%;
	}
	
#bird-1{
	position:absolute;
	top: 45%;
	right: 10%;
	}
	
#bird-2{
	position:absolute;
	top: 5%;
	right: 10%;
	}
	
#bird-3{
	position:absolute;
	top: 25%;
	left: 20%;
	}
	
#bird-4{
	position:absolute;
	top: 5%;
	right: 5%;
	}
	
@media (max-width: 1800px){
	#bg4{
		right: auto;
		left: 50%;
		}
	}
    
    #cloud-bg-5{
        left: -3%;   
    }

@media (max-width: 1450px){	
	#bg3-1 {
       right: 50%;
	   left:auto;
       width: 50%;
	   }
	  
	#bg3-2 {
       right: 65%;
	   left:auto;
	   }
       
    #cloud-bg-4{
        max-width: 60%;
    }
	   
	#bg5-1 {
       right: 50%;
	   left:auto;
       width: 55%;
	   }
	  
	#bg5-2 {
       right: 65%;
	   left:auto;
	   }
       
    #cloud-bg-5{
        left: -10%;
        width: 85%;   
    }
	   
}
		
@media (max-width: 1200px){	
	#bg6{
		right: auto;
		left: 60%;
		}
}
	
@media (max-width: 991px){
	body {
		//background:url(../images/fon.png) no-repeat;
		//background-size: cover;
		height: auto;
	}
	
	#content article {
		width: 100%;
		z-index:10;
		}
		
	#name-1,
	#name-2,
	#name-3,
	#name-4,
	#name-5,
	#name-6,
    #name-8{
		position: relative;
		top: auto;
		padding-top: 20px;
		display: block;
		margin: auto;
		left: auto;
		}
		
	#first-slide,
	#second-slide,
	#third-slide,
	#fourth-slide,
	#fifth-slide,
	#sixth-slide,
	#seventh-slide,
    #eighth-slide{
		top: auto;
		padding-top: 20px;
		left: 0%;
		position:relative;
		}
		
	#btn-1{
		top: auto;
		position: relative;
		margin:20px auto;
		left:auto;
		display:block;
		}
		
	.green-bg,
	.white-bg{
		position: relative;
		top: auto;
		}
	}